<h2><%= link_to "#{@student.student_name}", @student %></h2>

<p><%= link_to "Add Progress", new_student_progress_path, class: "btn btn-primary" %></p>

<%= render :partial => "/progresses/display_progress", :locals => {:student => @student}  %>

