<% content_for(:title, "Add Student Benchmark") %>
<h1>Add benchmark for <%=@student.first_name%> <%= @student.last_name %>:</h1>

<p><%= link_to 'Return to Student Page', student_path(@student) %></p>

<%= render "edit_benchmark_result"%>