<p id="notice"><%= notice %></p>

<p><%= link_to 'New Teacher', new_teacher_path, class: "btn btn-primary" %></p>

<h1>Teachers</h1>

<% if @teachers.any? %>
      <div class="row">
        <% @teachers.order(:last_name).each do |teacher| %>
          <%= render :partial => "teacher_card", :locals => {:teacher => teacher} %>
        <% end %>
      </div>
    <% else %>
      <p>There are no teachers yet.</p>
    <% end %>

<br>