<footer class="footer mt-auto py-3 bg-light" id="sticky-footer">
  <div class="container d-flex justify-content-end">
    <a data-bs-toggle="modal" data-bs-target="#creditModal" style="text-decoration: none">
      ❤️
    </a>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creditModalLabel">Credits</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-muted" id="epi-credit">
          <p>The Student Performance tracker was created by <a href="https://github.com/giang184">Andrew Giang</a>, <a href="https://github.com/krishops">Kristen Hopper</a>, <a href="https://github.com/gengur123">Arthur Lee</a>, <a href="https://github.com/dqveha">Dave Lindqvist</a>, and <a href="https://github.com/mireie">Michael Reiersgaard</a>.</p>
          <p><a href="https://github.com/mireie/student_performance_tracker">View project on GitHub</a></p>
          <hr>
          <p>Have an issue? Submit a <a href="https://github.com/mireie/student_performance_tracker/issues/new">ticket</a>!</p>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
